.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 37px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 0px 36px;
    border: 1px solid;
}